# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Physengine_VS/.vs/Physengine_VS/v15/.suo
Physengine_VS/.vs/Physengine_VS/v15/Browse.VC.db
Physengine_VS/.vs/Physengine_VS/v15/Browse.VC.db
Physengine_VS/.vs/Physengine_VS/v15/.suo
*.db
Physengine_VS/.vs/Physengine_VS/v15/.suo
*.opendb
